.CartIconHome {
    cursor: pointer;
}

.CartIconHome img {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 18px;
    right: 117px;
}

@media(min-width: 500px) {
    .CartIconHome {
        display: none;
    }
}