.Logo {
    cursor: pointer;
}

.Logo img {
    width: 176px;
    height: 101px;
    margin-top: 16px;
}

@media(max-width: 500px) {
    .Logo img {
        width: 167px;
        height: 91px;
        margin-right: -58px;
    }
}