.CommentBox {
    width: auto;
    height: fit-content;
    margin-top: 8px;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 30px;
    background-color: #edeff0;
}

.CommentBox h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
}

.CommentBox h6 {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    width: fit-content;
}