.card{
    border-radius: 4px;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    padding: 10px;
    cursor: pointer;
    margin-bottom: 30px;
    margin-left: 30px;
    width: fit-content;
    height: fit-content;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-body {
    height: 100%;
}

.card-body h5 {
    color: #202020b0;
}

@media(max-width : 500px) {
    .card {
        box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
        min-width: 110px;
    }
}