.Layout {
    margin-top: 50px;
}

.container {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/homepage1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 50;
    position: fixed;
    top: 0;
  }